<<<<<<< HEAD
/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1230px;
	padding: 15px;
}
h1, h2, h3 {
	font-weight: lighter;
}

/*JUMBOTRON*/
.jumbotron {
	width: 100%;
	height: 950px;
	background-image: url("http://i68.tinypic.com/2ldazbk.jpg");
    background-size: cover;
    color: #fff;
}
.jumbotron h1 {
	margin-top: 25vh;
}
.jumbotron .btn {
	margin-left: 0;
}
.jumbotron a {
	font-family: 'Merriweather', serif;
	font-size: 18pt;
	color: #fff;
}
.jumbotron a img {
	margin-bottom: 5px;
}
.jumbotron .mobile img {
	max-width: 600px;
	height: auto;
	padding-top: 30vh;
	position: absolute;
}

.perfect p {
	font-size: 12px;
	font-weight: lighter;
	color: red;
	-webkit-transform: rotate(-90deg); 
    width: 100px;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
}

/*BLOCK1*/
.block1 p {
	color: #959595;
}
.end {
	padding-top: 15vh;
}

/*GALLERY*/
.gallery h2, p {
	color: #fff;
}
.gallery a {
	font-weight: bolder;
}
.pink {
	height: 278px;
	width: 307.5px;
	background-color: #f5989d;
}
.violet {
	height: 278px;
	width: 307.5px;
	background-color: #615f7d;
}
.purple {
	height: 278px;
	width: 307.5px;
	background-color: #bd8cbf;
}
.ice {
	height: 278px;
	width: 307.5px;
	background-image: url(http://i64.tinypic.com/2mdkk75.jpg);
}
.sun {
	height: 278px;
	width: 600px;
	background-image: url(http://i66.tinypic.com/344s5yx.jpg);
}
.lightgreen {
	height: 278px;
	width: 307.5px;
	background-color: #82ca9c;
}
.wool {
	height: 278px;
	width: 307.5px;
	background-image: url(http://i68.tinypic.com/10pu69x.jpg);
}
.description {
	margin: 0px auto;
	padding: 10px;
	color: #fff;
}
.description a {
	text-decoration: none;
	color: #fff;
}
/*DETAILS*/
.details {
	margin-bottom: 50px;
}
.details h3, .details p {
	color: #959595;
}

/*CAR*/
.car {
	height: 870px;
	width: auto;
	background-image: url(http://i63.tinypic.com/2n03t05.jpg);
	color: #fff;
	background-size: cover;
}
.car h1, .car p, .car a {
	text-decoration: none;
	color: #fff;
}
.car .row {
	padding-top: 50vh;
}
.car a {
	font-weight: bolder;
}

/*GREEN*/
section.green {
	color: #fff;
	background-color: #82ca9c;
	height: 535px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

/*GREY*/
.grey {
	background-color: #f6f7fa;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}
.plans {
	padding: 30px;
}
.plans .first {
	background-color: #f6f7fa;
	padding: 50px;
}
.plans .second {
	background-color: #fff;
	padding: 50px;
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
}
.plans .first p, .second p {
	color: #959595;
}
i.fa {
	margin-top: 10px;
	font-size: 24px;
	color: #c5c5c5;
}

/*NAVY*/
.navy {
	background-color: #192431;
	height: 610px;
	display: flex;
	color: #fff;
}

/*MEDIA QUERIES

/ Medium devices (tablets)
@media (max-width: 768px) {
	.container {width: 550px;}
	
	JUMBOTRON
	.jumbotron {
	width: 100%;
	height: auto;
	background-image: url("http://i68.tinypic.com/2ldazbk.jpg");
    background-size: cover;
    color: #fff;
	}
	.jumbotron h1 {
		margin-top: 0;
	}
	.jumbotron .btn {
		margin-left: 0;
	}
	.jumbotron a {
		font-family: 'Merriweather', serif;
		font-size: 18pt;
		color: #fff;
	}
	.jumbotron a img {
		margin-bottom: 5px;
	}
	.jumbotron .mobile img {
		max-width: 600px;
		height: auto;
		padding-top: 30vh;
		position: absolute;
	}

	.perfect p {
		font-size: 12px;
		font-weight: lighter;
		color: red;
		-webkit-transform: rotate(-90deg); 
	    width: 100px;
	    text-transform: uppercase;
	    white-space: nowrap;
	    position: relative;
	}
	GALLERY
	.pink {
		height: 278px;
		
		background-color: #f5989d;
		background-size: cover;
	}
	.violet {
		height: 278px;
		width: auto;
		background-color: #615f7d;
	}
	.purple {
		height: 278px;
		width: auto;
		background-color: #bd8cbf;
	}
	.ice {
		height: 278px;
		width: auto;
		background-image: url(http://i64.tinypic.com/2mdkk75.jpg);
	}
	.sun {
		height: 278px;
		width: auto;
		background-image: url(http://i66.tinypic.com/344s5yx.jpg);
	}
	.lightgreen {
		height: 278px;
		width: auto;;
		background-color: #82ca9c;
	}
	.wool {
		height: 278px;
		width: auto;
		background-image: url(http://i68.tinypic.com/10pu69x.jpg);
	}
}

// Small devices (phones)
@media (max-width: 480px) {
	.container {width: 88%;}
	/*JUMBOTRON
	xjumbotron {
	width: 100%;
	height: 950px;
	background-image: url("http://i68.tinypic.com/2ldazbk.jpg");
    background-size: cover;
    color: #fff;
	}
	.jumbotron h1 {
		margin-top: 0;
	}
	.jumbotron .btn {
		margin-left: 0;
	}
	.jumbotron a {
		font-family: 'Merriweather', serif;
		font-size: 18pt;
		color: #fff;
	}
	.jumbotron a img {
		margin-bottom: 5px;
	}
	.jumbotron .mobile img {
		max-width: 600px;
		height: auto;
		padding-top: 30vh;
		position: absolute;
	}

	xperfect p {
		font-size: 12px;
		font-weight: lighter;
		color: red;
		-webkit-transform: rotate(-90deg); 
	    width: 100px;
	    text-transform: uppercase;
	    white-space: nowrap;
	    position: relative;
	}
	/*GALLERY
	.pink {
		height: 278px;
		
		background-color: #f5989d;
		background-size: cover;
	}
	.violet {
		height: 278px;
		width: auto;
		background-color: #615f7d;
	}
	.purple {
		height: 278px;
		width: auto;
		background-color: #bd8cbf;
	}
	.ice {
		height: 278px;
		width: auto;
		background-image: url(http://i64.tinypic.com/2mdkk75.jpg);
	}
	.sun {
		height: 278px;
		width: auto;
		background-image: url(http://i66.tinypic.com/344s5yx.jpg);
	}
	.lightgreen {
		height: 278px;
		width: auto;;
		background-color: #82ca9c;
	}
	.wool {
		height: 278px;
		width: auto;
		background-image: url(http://i68.tinypic.com/10pu69x.jpg);
	}
}
*/
=======
/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1230px;
	padding: 15px;
}
h1, h2, h3 {
	font-weight: lighter;
}

/*JUMBOTRON*/
.jumbotron {
	width: 100%;
	height: 950px;
	background-image: url("http://i68.tinypic.com/2ldazbk.jpg");
    background-size: cover;
    color: #fff;
}
.jumbotron h1 {
	margin-top: 25vh;
}
.jumbotron .btn {
	margin-left: 0;
}
.jumbotron a {
	font-family: 'Merriweather', serif;
	font-size: 18pt;
	color: #fff;
}
.jumbotron a img {
	margin-bottom: 5px;
}
.jumbotron .mobile img {
	max-width: 600px;
	height: auto;
	padding-top: 30vh;
	position: absolute;
}

.perfect p {
	font-size: 12px;
	font-weight: lighter;
	color: red;
	-webkit-transform: rotate(-90deg); 
    width: 100px;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
}

/*BLOCK1*/
.block1 p {
	color: #959595;
}
.end {
	padding-top: 15vh;
}

/*GALLERY*/
.gallery h2, p {
	color: #fff;
}
.gallery a {
	font-weight: bolder;
}
.pink {
	height: 278px;
	width: 307.5px;
	background-color: #f5989d;
}
.violet {
	height: 278px;
	width: 307.5px;
	background-color: #615f7d;
}
.purple {
	height: 278px;
	width: 307.5px;
	background-color: #bd8cbf;
}
.ice {
	height: 278px;
	width: 307.5px;
	background-image: url(http://i64.tinypic.com/2mdkk75.jpg);
}
.sun {
	height: 278px;
	width: 600px;
	background-image: url(http://i66.tinypic.com/344s5yx.jpg);
}
.lightgreen {
	height: 278px;
	width: 307.5px;
	background-color: #82ca9c;
}
.wool {
	height: 278px;
	width: 307.5px;
	background-image: url(http://i68.tinypic.com/10pu69x.jpg);
}
.description {
	margin: 0px auto;
	padding: 10px;
	color: #fff;
}
.description a {
	text-decoration: none;
	color: #fff;
}
/*DETAILS*/
.details {
	margin-bottom: 50px;
}
.details h3, .details p {
	color: #959595;
}

/*CAR*/
.car {
	height: 870px;
	width: auto;
	background-image: url(http://i63.tinypic.com/2n03t05.jpg);
	color: #fff;
	background-size: cover;
}
.car h1, .car p, .car a {
	text-decoration: none;
	color: #fff;
}
.car .row {
	padding-top: 50vh;
}
.car a {
	font-weight: bolder;
}

/*GREEN*/
section.green {
	color: #fff;
	background-color: #82ca9c;
	height: 535px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

/*GREY*/
.grey {
	background-color: #f6f7fa;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}
.plans {
	padding: 30px;
}
.plans .first {
	background-color: #f6f7fa;
	padding: 50px;
}
.plans .second {
	background-color: #fff;
	padding: 50px;
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
}
.plans .first p, .second p {
	color: #959595;
}
i.fa {
	margin-top: 10px;
	font-size: 24px;
	color: #c5c5c5;
}

/*NAVY*/
.navy {
	background-color: #192431;
	height: 610px;
	display: flex;
	color: #fff;
}

/*MEDIA QUERIES*/

/ Medium devices (tablets)
@media (max-width: 768px) {
	.container {width: 550px;}
	
	/*JUMBOTRON*/
	.jumbotron {
	width: 100%;
	height: auto;
	background-image: url("http://i68.tinypic.com/2ldazbk.jpg");
    background-size: cover;
    color: #fff;
	}
	.jumbotron h1 {
		margin-top: 0;
	}
	.jumbotron .btn {
		margin-left: 0;
	}
	.jumbotron a {
		font-family: 'Merriweather', serif;
		font-size: 18pt;
		color: #fff;
	}
	.jumbotron a img {
		margin-bottom: 5px;
	}
	.jumbotron .mobile img {
		max-width: 600px;
		height: auto;
		padding-top: 30vh;
		position: absolute;
	}

	.perfect p {
		font-size: 12px;
		font-weight: lighter;
		color: red;
		-webkit-transform: rotate(-90deg); 
	    width: 100px;
	    text-transform: uppercase;
	    white-space: nowrap;
	    position: relative;
	}
	/*GALLERY*/
	.pink {
		height: 278px;
		
		background-color: #f5989d;
		background-size: cover;
	}
	.violet {
		height: 278px;
		width: auto;
		background-color: #615f7d;
	}
	.purple {
		height: 278px;
		width: auto;
		background-color: #bd8cbf;
	}
	.ice {
		height: 278px;
		width: auto;
		background-image: url(http://i64.tinypic.com/2mdkk75.jpg);
	}
	.sun {
		height: 278px;
		width: auto;
		background-image: url(http://i66.tinypic.com/344s5yx.jpg);
	}
	.lightgreen {
		height: 278px;
		width: auto;;
		background-color: #82ca9c;
	}
	.wool {
		height: 278px;
		width: auto;
		background-image: url(http://i68.tinypic.com/10pu69x.jpg);
	}
}

// Small devices (phones)
@media (max-width: 480px) {
	.container {width: 88%;}
	/*JUMBOTRON*/
	xjumbotron {
	width: 100%;
	height: 950px;
	background-image: url("http://i68.tinypic.com/2ldazbk.jpg");
    background-size: cover;
    color: #fff;
	}
	.jumbotron h1 {
		margin-top: 0;
	}
	.jumbotron .btn {
		margin-left: 0;
	}
	.jumbotron a {
		font-family: 'Merriweather', serif;
		font-size: 18pt;
		color: #fff;
	}
	.jumbotron a img {
		margin-bottom: 5px;
	}
	.jumbotron .mobile img {
		max-width: 600px;
		height: auto;
		padding-top: 30vh;
		position: absolute;
	}

	xperfect p {
		font-size: 12px;
		font-weight: lighter;
		color: red;
		-webkit-transform: rotate(-90deg); 
	    width: 100px;
	    text-transform: uppercase;
	    white-space: nowrap;
	    position: relative;
	}
	/*GALLERY*/
	.pink {
		height: 278px;
		
		background-color: #f5989d;
		background-size: cover;
	}
	.violet {
		height: 278px;
		width: auto;
		background-color: #615f7d;
	}
	.purple {
		height: 278px;
		width: auto;
		background-color: #bd8cbf;
	}
	.ice {
		height: 278px;
		width: auto;
		background-image: url(http://i64.tinypic.com/2mdkk75.jpg);
	}
	.sun {
		height: 278px;
		width: auto;
		background-image: url(http://i66.tinypic.com/344s5yx.jpg);
	}
	.lightgreen {
		height: 278px;
		width: auto;;
		background-color: #82ca9c;
	}
	.wool {
		height: 278px;
		width: auto;
		background-image: url(http://i68.tinypic.com/10pu69x.jpg);
	}
}
>>>>>>> 7df9d9d1e43c2482562b59859cd5d63e6fddae16
